<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.julian.qplayer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ListActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ArtistTab.ArtistActivity"
            android:theme="@style/MyMaterialTheme"/>
        <activity android:name=".PlayerActivity"/>
        <activity android:name=".AlbumActivity"
            android:theme="@style/MyMaterialTheme"/>
        <activity android:name=".Player.A_PlayerActivity"
                  android:theme="@style/MyMaterialTheme"/>
        <service android:name=".MusicService"/>
        <receiver android:name=".MusicWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.julian.musicplayer.UPDATE_WIDGET"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_info"/>
        </receiver>
    </application>

</manifest>
